* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $white;
  color: #2c3e50;
  font-family: 'proxima-regular', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

::selection {
  background: $black;
  color: $white;
}

#inside-revive {
  height: 100%;
}
